<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{text-align: center}
        div{background-color: rgb(186, 137, 232);height: 200px;width: 300px;;margin-left: 35%;
        border-radius: 50px;flex-direction: column;
    display: flex;align-items: center;justify-content: center;}
    table{
        background-color: rgb(159, 159, 140);
        margin-top: 20px;
    }
    </style>
</head>
<body>
    <h1> it is a html page</h1>
<br>
    <!-- {{key }} -->
  

    <div>
        all arguments together
        <table border="1" bgcolor="red">
           
            
            <tr >
              <th scope="col">Path</th>
              <th scope="col"> Slug</th>
              <th scope="col">String</th>
              <th scope="col">Int</th>
            </tr>
            <tr>
              <th scope="row">{{key.data1}}</th>
              <td>{{key.data2}}</td>
              <td>{{key.data3}}</td>
              <td>{{key.data4}}</td>
             
            </tr>
          </table>
    </div>
</body>
</html>